<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="fr.julienvermet.bugdroid" android:versionCode="5"
	android:versionName="1.0.4">

	<uses-sdk android:minSdkVersion="8" />

	<application android:icon="@drawable/dino" android:label="@string/app_name">
		<activity android:name=".menu.MenuActivity" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar"
			android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustPan">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".menu.ProductsActivity"
			android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name=".bugs.BugsActivity" android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name=".bugs.SavedBugsActivity"
			android:theme="@android:style/Theme.NoTitleBar"/>
		<activity android:name=".bugs.ABugActivity" android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name=".products.ProductsActivity"
			android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name=".preferences.PreferencesActivity"
			android:theme="@android:style/Theme.NoTitleBar" />

		<activity android:name=".bugs.search.SavedSearchesActivity"
			android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name=".bugs.search.SearchBugActivity"
			android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name=".bugs.search.SearchSimpleActivity"
			android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name=".bugs.search.SearchAdvancedActivity"
			android:theme="@android:style/Theme.NoTitleBar"
			android:screenOrientation="portrait" />
		<activity android:name=".bugs.search.SearchBugLoadingActivity"
			android:theme="@android:style/Theme.NoTitleBar"
			android:configChanges="keyboardHidden|orientation" />
		<activity android:name=".bugs.search.SearchBugsLoadingActivity"
			android:theme="@android:style/Theme.NoTitleBar"
			android:configChanges="keyboardHidden|orientation" />

		<activity android:name="fr.julienvermet.bugdroid.tools.Intentfilter">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" />
				<data android:scheme="https" />
				<data android:host="bugzilla.mozilla.org" android:pathPattern="/show_bug\\.cgi.*" />
				<!-- Improve the pathPattern to match the real url -->
			</intent-filter>
		</activity>

	</application>

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>